<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-gray-50 font-[sans-serif]">
        <div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
            <div class="max-w-md w-full">
                <div class="p-8 rounded-2xl bg-white shadow">
                    <h2 class="text-gray-800 text-center text-2xl font-bold">Se connecter</h2>
                    
                    <div th:if="${errorMessage}" class="text-red-500 text-sm mb-4">
                        <p th:text="${errorMessage}"></p>
                    </div>

                    <form action="" method="post" class="mt-8 space-y-4">
                    <input type="hidden" value="login" action="login">
                        <div>
                            <label class="text-gray-800 text-sm mb-2 block">Email</label>
                            <input name="email" type="email" required class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="Entrer email" />
                        </div>
                        <div>
                            <label class="text-gray-800 text-sm mb-2 block">Mot de passe</label>
                            <input name="password" type="password" required class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="Entrer mot de passe" />
                        </div>
                        <div class="!mt-8">
                            <button type="submit" class="w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
                                Se connecter
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
